main {
    color: rgb(255, 255, 255);
}

/* ------------------------- first container */
.first-container {
    display: flex;
}

.purpose {
    margin: 20px;
}

.purpose p {
    word-spacing: 5px;
}

.image-container,
.purpose {
    width: 100%;
    position: relative;
}

.image-container img {
    width: 100%;
}


.hero-overlay {
    background: linear-gradient(to right, #121214, rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.explore-button {
    display: inline-block;
    background: #02D1E6;
    color: rgb(254, 254, 254);
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.explore-button:hover {
    transform: scale(1.05);
}

/* --------------------------------- upcoming movie container */
.upcoming-movie-container {
    display: flex;

}

.upcoming-movie-container p {
    text-align: center;
    background: rgb(70, 70, 70);
    border-radius: 5px;
    margin-bottom: 80px;
}

.upcoming-movie-container img {
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.upcoming-movie-container #movie-poster1:hover,
#movie-poster2:hover,
#movie-poster3:hover,
#movie-poster4:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.movie1,
.movie2,
.movie3,
.movie4 {
    padding: 10px;
}


/* --------------------------- modal info */
.upcoming-movie-container {
    flex-wrap: wrap;
}

.upcoming-movie-dialog1,
.upcoming-movie-dialog2,
.upcoming-movie-dialog3,
.upcoming-movie-dialog4 {
    z-index: 1;
    top: 10%;
    position: fixed;
    max-width: 500px;
    width: 80%;
    border: none;
    background: transparent;
    color: white;
}

.upcoming-movie-dialog1::backdrop,
.upcoming-movie-dialog2::backdrop,
.upcoming-movie-dialog3::backdrop,
.upcoming-movie-dialog4::backdrop {
    background-color: rgba(0, 0, 0, 0.949);
}

dialog img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

@media (max-width: 600px) {
    .first-container {
        display: block;
    }
    
}